.profile {
  background-color: #e2e4eb;
}

.p_bgColor {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.p_user {
  background: #fafafa;
  padding: 20px;
}

.pu_image img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 25px;
}

.p_user h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 25px;
}

.pu_email {
  margin-bottom: 25px;
}

.pu_email a {
  color: #666666;

  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.pu_acountInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.pu_acountInfo button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  background-color: #fff;
  color: #000;
  border: none;
  width: 100%;
  padding: 20px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pu_acountInfo button:focus {
  background-color: #1ABA1A;
  color: #fff;
  border: none;
  width: 100%;
  padding: 20px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p_acountInfo {}

.p_acountInfo h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

.p_acountInfo form {}

.pa_name_last {
  display: flex;
  align-items: center;
  gap: 32px;
}

.pnl1 label,
.pnl2 label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 11px;
}

.pnl1,
.pnl2 {
  width: 100%;
}

.pnl1 input,
.pnl2 input {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 15px 10px;
  border-radius: 6px;
}

.pnl1 input:focus,
.pnl2 input:focus {
  outline: 1px solid #1ABA1A;
}

.p_acountInfo>form>label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 11px;
  margin-top: 25px;
}

.p_acountInfo>form>input {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 15px 10px;
  border-radius: 6px;
}

.p_acountInfo>form>input:focus {
  outline: 1px solid #1ABA1A;
}

.p_acountInfo>form>button {
  margin-top: 45px;
  background-color: #1ABA1A;
  border: none;
  color: #fff;
  padding: 15px 50px;
  border-radius: 6px;
}