.offerBar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.offer_cnt p {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.52px;
    letter-spacing: -0.32px;
    text-align: center;
    color: #ffffff;
}

.offer_time {
    margin-top: 10px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}

.top_link {
    display: flex;
    align-items: center;
    gap: 14.6px;
}

.top_link a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    letter-spacing: -0.32px;
    text-align: left;
    color: #6b7280;
}

.top_link p {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: -0.32px;
    text-align: left;
    color: #6b7280;
    padding-left: 15px;
    border-left: 1px solid #e5e7eb;
}

.top_link span {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.52px;
    letter-spacing: -0.32px;
    text-align: left;
    color: #ea580c;
}

.top_select {
    display: flex;
    align-items: center;
    gap: 15px;
}

.top_select a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    letter-spacing: -0.32px;
    text-align: left;
    color: #6b7280;
}

.searchBar {
    display: flex;
    align-items: center;
    gap: 21px;
    flex-wrap: wrap;
}

.delivery {
    display: flex;
    align-items: center;
    gap: 14px;
}

.d_address {
    font-family: "Inter", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.2px;
    letter-spacing: -0.32px;
    text-align: left;
    color: #030712;
}

.d_address span {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.6px;
    letter-spacing: -0.32px;
    text-align: left;
    color: #030712;
}

.top_search {
    display: flex;
    flex: 1;
    position: relative;
}

.top_search input {
    width: 100%;
    max-width: 864px;
    height: 46px;
    padding: 14.5px 62px 14.5px 18px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #f3f4f6;
}

.top_search button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
}

.registration {
    display: flex;
    align-items: center;
}

.registration a {
    display: flex;
    align-items: center;
    gap: 21px;
    text-decoration: none;
    color: #000;
}

.registration span {
    font-family: "Inter", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.2px;
    letter-spacing: -0.32px;
    text-align: left;
    color: #030712;
}

.sidebtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header_navbar {
    background-color: #fff;
    top: 0;
    z-index: 1000;
}

.menubar {
    display: flex;
    transition: all ease 0.3s;
}

.hn_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.nav_Select {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav_Select .ns_first {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: #030712;
}

.nav_Select .ns_last {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: #DC2626;
}

@media (max-width: 768px) {
    .offerBar {
        flex-direction: column;
        text-align: center;
    }

    .offer_cnt p {
        font-size: 14px;
        line-height: 16px;
    }

    .offer_time {
        margin-top: 15px;
    }

    .topbar,
    .searchBar,
    .registration,
    .sidebtns,
    .header_navbar,
    .hn_wrap,
    .nav_Select {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .top_link,
    .top_select,
    .delivery {
        justify-content: center;
    }

    .top_search {
        width: 100%;
        max-width: none;
    }

    .top_search input {
        width: 100%;
    }

    .searchBar {
        flex-direction: column;
        gap: 10px;
    }

    .registration a {
        gap: 10px;
    }

    .sidebtns {
        gap: 10px;
    }

    .d_address {
        font-size: 12px;
    }

    .d_address span {
        font-size: 14px;
    }
}