.banner {
    display: flex;
}

.banner_section {
    padding: 32px 20px;
    background-position: center right;
    margin: 40px 0;
}

.banner_wrap h4 {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    padding-bottom: 10px;
    letter-spacing: -0.23999999463558197px;
    text-align: left;
    color: #EA580C;
}

.banner_wrap h2 {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.63px;
    padding-bottom: 9px;
    letter-spacing: -0.8799999952316284px;
    text-align: left;
    color: #111827;
}

.banner_wrap>span {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.51px;
    padding-bottom: 19px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;
    color: #6B7280;
}

.banner_wrap2 h4 {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.52px;
    letter-spacing: -0.23999999463558197px;
    text-align: center;
    color: #7C2D12;
    background-color: #FFEDD5;
    width: 110px;
    height: 22px;
    padding: 3px 7px 3px 7px;
    border-radius: 30px;

}

.banner_wrap2 h2 {
    font-family: "Inter", sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 33.89px;
    letter-spacing: -1.1200000047683716px;
    text-align: left;
    color: #111827;
    margin: 15px 0 9px 0;
}

.banner_wrap2>span {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.51px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;
    color: #6B7280;
}

.banner_btn {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: "Inter", sans-serif;
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 19px;
    letter-spacing: -0.23999999463558197px;
    text-align: center;
    color: #212529;
    background-color: #fff;
    border-radius: 50px;
    padding: 0 14px;
}